[Desktop Entry]
Name=QBitMPlayer
Exec=/tmp/bin/qbitmplayer
Type=Application
Comment=Music Player written in C++ & Qt.
Icon=/tmp/share/QBitMPlayer/resources/assets/icon.png
Categories=AudioVideo;Audio;
Terminal=false
StartupNotify=true
